<div class="container mat-typography">
  <mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="text-align: center">
      <div fxFlex="100%" fxFlex.gt-sm="100%" fxFlex.gt-md="100%" fxFlex.gt-md="100%"
        style="word-break: break-word;">
        Bitcoin mnemonics page<br />
        {{ pageNumber }}<br />
        of<br />
        {{ maxPageNumber }}
      </div>

      <div fxFlex="100%" fxFlex.gt-sm="100%" fxFlex.gt-md="100%" fxFlex.gt-md="100%">
        <button mat-button (click)="gotoFirstPage()">
          <i class="material-icons">first_page</i>
        </button>
        <button mat-button (click)="gotoPreviousPage()">
          <i class="material-icons">chevron_left</i>
        </button>
        <button mat-button (click)="gotoRandomPage()">
          <i class="material-icons">casino</i>
        </button>
        <button mat-button (click)="gotoNextPage()">
          <i class="material-icons">chevron_right</i>
        </button>
        <button mat-button (click)="gotoLastPage()">
          <i class="material-icons">last_page</i>
        </button>
      </div>

      <div fxFlex="100%" fxFlex.gt-sm="100%" fxFlex.gt-md="100%" fxFlex.gt-md="100%"
        style="margin: 2rem 0 1rem 0;">
        <pre style="font-size: 0.7rem;">{{ mnemonic }}</pre>
      </div>

      <div fxFlex="100%" fxFlex.gt-sm="100%" fxFlex.gt-md="100%" fxFlex.gt-md="100%"
        style="margin: 2rem 0 1rem 0;">
        
        <div id="section-result-mnemonic">
          <div class="word-input-container" fxLayout="row wrap">
            <div fxFlex="100%" fxFlex.gt-sm="32%" fxFlex.gt-md="24%" fxFlex.gt-md="16.5%" *ngFor="let word of mnemonicArray; index as i">
              <mat-form-field class="example-form-field-{{i}}" appearance="fill">
                <mat-label>Word {{i+1}} <ng-container *ngIf="i === mnemonicArray.length - 1">(Checksum Word)</ng-container></mat-label>
                <input matInput type="text" placeholder="Word {{i+1}}" [value]="word" disabled/>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div fxFlex="100%" fxFlex.gt-sm="100%" fxFlex.gt-md="100%" fxFlex.gt-md="100%">
        <button mat-button (click)="gotoPreviousPage()">
          <i class="material-icons">chevron_left</i>
        </button>
        <button mat-button (click)="gotoRandomPage()">
          <i class="material-icons">casino</i>
        </button>
        <button mat-button (click)="gotoNextPage()">
          <i class="material-icons">chevron_right</i>
        </button>
      </div>
    </div>
  </mat-card>
</div>
<div class="clear"></div>