@import "mixins";

:host(app-nav) {
  padding-top: 0;
  padding-bottom: 5.5rem;
  display: grid;

  header {
    position: fixed;
    z-index: 999;
    width: 100%;

    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: $secondary--color;
      height: 4rem;
      padding: 0 calculateRem(8px);
      background: $primary--color;

      .mat-raised-button {
        color: $primary--color;
        margin-right: 1rem;
      }

      .progress-bar {
        display: flex;
        align-content: center;
        align-items: center;
        height: calculateRem(5px);
      }

      .icon__image {
        width: calculateRem(20px);
        height: calculateRem(20px);
      }

      img {
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 807px) {
}

@media (max-width: 680px) {
  :host(app-nav) {
    padding-top: 0;
    padding-bottom: 1rem;

    header {
      position: relative;

      nav {
        height: 4rem;
        display: flex;

        .mat-raised-button {
          margin-right: 0.5rem;
          font-size: x-small;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  :host(app-nav) {
    padding-bottom: 0;

    header {

      nav {
        .mat-raised-button {
          margin-right: 0.25rem;
          padding: 0 8px;
          font-size: x-small;
          min-width: auto;
        }
      }
    }
  }
}
