<div class="container mat-typography">
  <h1>Generate random Bitcoin address and see if you are a winner</h1>

  <div>    
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="100%" fxFlex.gt-sm="80%" fxFlex.gt-md="70%" fxFlex.gt-md="50%"  style="text-align: center" >
        
        <div *ngIf="!(tryCounter > 3)" >
          <button mat-raised-button color="primary"
          (click)="buttonIamFeelingLuckyClicked()" 
          class="i-am-feeling-lucky-button" 
          [disabled]="loading">
            <span *ngIf="feelingLuckyCounterClicked === 0">I'm feeling lucky!</span>
            <span *ngIf="feelingLuckyCounterClicked === 1">Try again!</span>
            <span *ngIf="feelingLuckyCounterClicked === 2">And again!</span>
            <span *ngIf="feelingLuckyCounterClicked === 3">And again ...</span>
            <span *ngIf="feelingLuckyCounterClicked === 4">Again?</span>
            <span *ngIf="feelingLuckyCounterClicked === 5">Try again!</span>
            <span *ngIf="feelingLuckyCounterClicked === 6">I'm feeling lucky!</span>
            <span *ngIf="feelingLuckyCounterClicked > 6">Try again!</span>
          </button>
        </div>

        <div *ngIf="tryCounter > 3">
          <mat-card style="margin: 1em;">
            <p style="font-size: 1.2em; line-height: normal;">
              You have had your fair chance today.
              <a routerLink="/faq" fragment="faq-1">It won't get any better</a>. Do not get blinded by trying to get rich quick. Learn how Bitcoin works and try your
              best to integrate it in the real world. Bitcoin needs adoption. Maybe you are able to use it in you next project?
              Talk and share your knowledge with others. Spread the word.
            </p>
          </mat-card>
        </div>
        
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="100%" fxFlex.gt-sm="80%" fxFlex.gt-md="70%" fxFlex.gt-md="50%">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchFieldValue" (keyup.enter)="onChangeSearchInput($event.target.value)" />
            <mat-spinner matSuffix *ngIf="loading" diameter="15" style="margin: auto 10px 4px 10px;"></mat-spinner>
          </mat-form-field>
      </div>
    </div>
    
    <div style="text-align: center;">
      <p>
        <button mat-raised-button (click)="!loading && onChangeSearchInput(searchFieldValue)">
          <i matPrefix class="material-icons">search</i>
          Balance Search
        </button>
        <span>&nbsp;</span>
        <button mat-raised-button color="primary" (click)="!loading && buttonIamFeelingLuckyClicked()">
          <span>I'm feeling lucky!</span>
        </button>
      </p>
      <p>
        <button mat-button (click)="displayDetailedSettings = !displayDetailedSettings">
          <i class="material-icons">
              settings_applications
          </i>
        </button>
      </p>
    </div>

    <mat-card *ngIf="displayDetailedSettings">
      <mat-card-header>
        <mat-card-title>BIP32 path settings</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <div fxLayout="row wrap" fxLayoutAlign="center center" >
      <div fxFlex="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="25%" fxFlex.gt-md="25%">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Path Prefix</mat-label>
            <input matInput type="text" 
            pattern="m/((\d)+'?/)*"
            placeholder="m/44'/0'/"
            required
            [(ngModel)]="pathPrefix" 
            [matAutocomplete]="pathPrefixInputAutocomplete" />
            <mat-hint>BIP32 path prefix (pattern <code>m/purpose'/coin_type'/)</code></mat-hint>
          </mat-form-field>

          <mat-autocomplete #pathPrefixInputAutocomplete="matAutocomplete">
            <mat-option *ngFor="let option of pathPrefixInputAutocompleteOptions" [value]="option">{{option}}</mat-option>
          </mat-autocomplete>
      </div>
      <div fxFlex="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="25%" fxFlex.gt-md="25%">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Path Account</mat-label>
            <input matInput type="number" [(ngModel)]="pathAccount" placeholder="0" required/>
          </mat-form-field>
      </div>
      <div fxFlex="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="25%" fxFlex.gt-md="25%">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Path Change</mat-label>
            <input matInput type="number" [(ngModel)]="pathChange"  placeholder="0" required/>
          </mat-form-field>
      </div>
      <div fxFlex="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="25%" fxFlex.gt-md="25%">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Path Index</mat-label>
            <input matInput type="number" [(ngModel)]="pathIndex" placeholder="0" required/>
          </mat-form-field>
      </div></div>
    </mat-card>
    
    <div style="text-align: center; margin-bottom: 3rem"></div>

    <div *ngIf="result">
      <div *ngIf="result.mnemonic">
          <span class="bold">Results for search term:</span> 
          <pre>{{result.mnemonic}}</pre>
      </div>
      <div *ngIf="result.path">
        <p>
          <span class="bold">Path (BIP44):</span> {{result.path}}
          (see <a href="https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki">BIP44</a>)
        </p>
        <p style="display: none">
          See <a href="https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki">BIP32</a> and 
          <a href="https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki">BIP39</a>, 
          <a href="https://github.com/bitcoin/bips/blob/master/bip-0049.mediawiki">BIP49</a>, 
          <a href="https://github.com/bitcoin/bips/blob/master/bip-0084.mediawiki">BIP84</a>.
        </p>
      </div>

      <mat-form-field class="full-width" appearance="fill" style="text-align: center;" *ngIf="result.address">
        <mat-label>Address</mat-label>
        <input style="font-size: 150%" matInput type="text" placeholder="" [value]="result.address" disabled/>
        <a href="https://www.blockchain.com/btc/address/{{result.address}}" target="_blank">https://www.blockchain.com/btc/address/{{result.address}}</a>
      </mat-form-field>

      <div *ngIf="result.error">
        <p style="background-color: red; padding: 1em;">{{ result.error.message }}</p>
      </div>

      <p style="text-align: center; font-size: 1.5em; margin: 1em; line-height: normal;" *ngIf="result.received !== undefined">
        <span *ngIf="result.received === 0">Address never received anything.</span>
        <span *ngIf="result.received > 0">Found address with
          <code>received > 0</code>
        </span>
      </p>

      <p style="text-align: center; font-size: 3em; margin: 1em; line-height: normal;" *ngIf="result.balance !== undefined">
        <span *ngIf="result.balance === 0">Balance is 0 :(</span>
        <span *ngIf="result.balance > 0">Found address with
          <code>balance > 0</code>
        </span>
      </p>
    </div>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    

    <div *ngIf="result" [hidden]="loading">
      <mat-card style="margin: 1em;">
        <div *ngIf="result.seedHex">
          <span class="bold">Seed:</span>
          <pre>{{result.seedHex}}</pre>
        </div>
        <div *ngIf="result.rootBip32Xpriv">
          <span class="bold">BIP32 xpriv:</span>
          <pre>{{result.rootBip32Xpriv}}</pre>
        </div>
        <div *ngIf="result.rootWif">
          <span class="bold">WIF:</span>
          <pre>{{result.rootWif}}</pre>
          <p>
            See <a href="https://en.bitcoin.it/wiki/Wallet_import_format">Wallet Import Format wiki page on en.bitcoin.it</a> 
            for more information.
          </p>
        </div>
        <div *ngIf="result.masterPrivateKey">
          <span class="bold">Master Private Key:</span>
          <pre>{{result.masterPrivateKey}}</pre>
        </div>
      </mat-card>
    </div>

    <div *ngIf="result" [hidden]="loading || result.mnemonic === undefined">
      <mat-card style="margin: 1em;">
        <h3>Private Key Mnemonic</h3>
        <div class="word-input-container" fxLayout="row wrap" *ngIf="mnemonicArray.length !== 12">
          Input is not a valid BIP39 mnemonic seed.
        </div>
        <div class="word-input-container" fxLayout="row wrap" *ngIf="mnemonicArray.length === 12">
          <div fxFlex="100%" fxFlex.gt-sm="32%" fxFlex.gt-md="24%" fxFlex.gt-md="16.5%" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11]">
            <span>
              <mat-form-field class="example-form-field-{{i}}" appearance="fill">
                <mat-label>Word {{i+1}}</mat-label>
                <input matInput type="text" placeholder="Word {{i+1}}" [value]="mnemonicArray[i]" disabled/>
              </mat-form-field>
            </span>
          </div>
        </div>
      </mat-card>
    </div>

    <div *ngIf="result" [hidden]="loading || result.addresses === undefined">
      <mat-card style="margin: 1em;">
        <h3>More Addresses</h3>
        <div *ngFor="let address of result.addresses">
            {{address.path}}: {{address.address}} - 
            <a href="https://www.blockchain.com/btc/address/{{address.address}}" target="_blank">https://www.blockchain.com/btc/address/{{address.address}}</a>
        </div>
      </mat-card>

      
    </div>
  </div>

</div>
<div class="clear"></div>