@import "mixins";


.container h1 {
  text-align: center;
}

#search-result-spacer-top {
  margin-bottom: 2rem;
}

.mat-raised-button.i-am-feeling-lucky-button {
  padding: 1rem;
  font-size: 2rem;
  margin: 1rem 1rem 2rem 1rem !important;
}

@media (max-width: 680px) {

  .container h1 {
    font-size: calculateRem(16px);
    line-height: 1;
  }

  #search-result-spacer-top {
    display: none;
  }

  .mat-raised-button.i-am-feeling-lucky-button {
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem !important;
  }
}

.container .mat-input-element:disabled {
  color: inherit;
}

.mat-form-field-wrapper {
  margin-left: 1rem !important;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.clear {
  clear: both;
}

.full-width {
  width: 100%;
}

.more-addresses-container table  {
  .mat-cell, .mat-footer-cell {
    font-size: 0.7rem;
  }
  tr.mat-header-row {
    height: auto;
  }
  td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
      padding-left: 7px;
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}