@import "mixins";

.mat-input-element:disabled {
  color: inherit;
}

.mat-form-field-wrapper {
  margin-left: 1rem !important;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.clear {
  clear: both;
}

.full-width {
  width: 100%;
}